.thumbnail-card {
  width: 250px;

  .profile-image {
    max-height: 250px;
    width: auto;
    margin-left: auto;
  }
  .details-list {
    margin-left: -30px;

    .header-details {
      margin-top: -25px;
      height: 35px;
    }
    .mat-list-item {
      height: 25px;
    }
  }
  .edit-button {
    min-width: 50px;
  }
  .toggle-activate {
    float: right;
    height: 35px;
    margin-right: 5px;
  }

}
